# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# clangd
/.cache
/compile_commands.json

# bazel
/bazel-*
/external
